html {
  background-color: teal;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
button {
  background-color: white;
  color: teal;
  border-radius: 15px;

  /* border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; */
}
img {
  border-radius: 15px;
}
